<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/header') %>
</head>

<body style="padding-top: 70px">
    <!-- body code goes here -->

    <nav class="navbar fixed-top navbar-expand-md navbar-light bg-white">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="images/botike.png " class="logo-botike" alt=" " />
            </a>

            <div class="abre-menu d-block d-md-none navbar-toggler" id="abre-menu" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="barra-menu barra-1"></span>
                <span class="barra-menu barra-2"></span>
                <span class="barra-menu barra-3"></span>
            </div>

            <div class="collapse navbar-collapse" id="navbarNav">
                <form class="form-inline box-items-menu ml-auto">
                    <ul class="navbar-nav mr-auto ">
                        <li class="nav-item "> <a class="nav-link titulo" href="#pq">PORQUE UM CHATBOT</a> </li>
                        <li class="nav-item "> <a class="nav-link titulo" href="#oq">O QUE FAZEMOS</a> </li>
                        <li class="nav-item "> <a class="nav-link titulo" href="#como">COMO FAZEMOS</a> </li>
                        <li class="nav-item "> <a class="nav-link titulo" href="#blog">BLOG</a> </li>
                    </ul>
                </form>

            </div>
        </div>
    </nav>


    <div id="hero" class="container" style="background:transparent url( 'images/background_botike_semIco.png') no-repeat center center /cover; width: 1091;">
        <!--
            <img src="images/background_botike_semIco.png ">
            style="background:transparent url( 'images/background_botike_semIco.png') no-repeat center center /cover "
        -->
        <div class="row justify-content-md-center ">
            <div class="fdoImage">

                <div class="col-xl-12 col-md-12">
                    <img class="animation-icoHum img-responsive img-animation" src="images/background_botike_icoHum.png ">
                </div>

                <div class="col-xl-12 col-md-12 text-right">
                    <img class="animation-icoBot img-responsive img-animation" src="images/background_botike_icoBot.png ">
                </div>

                <div class="col-xl-12 col-md-12 mt-3">
                    <h3 class="animation-lettering font-weight-bold text-center text-uppercase titulo titulo-header">&nbsp;Robôs que conversam com pessoas e negócios&nbsp;</h3>
                </div>

            </div>
        </div>

    </div>

    <div id="pq" class="py-5 mb-2 bg-carmesin text-worning ">
        <div class="container text-center ">
            <div class="row ">

                <div class="container ">
                    <p>
                        <h3 class="font-weight-bold text-center text-white titulo-section">PORQUE UM CHATBOT</h3>
                    </p>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/multiplos_pontos_contato.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="titulo-features text-white ">MÚLTIPLOS PONTOS DE CONTATO</h5><br>
                        <p class="text-left text-lightcarmesin texto texto-18">Chatbots ajudam o negócio a falar com os consumidores através dos canais mais populares como o WhatsApp, Telegram, Facebook Messenger, Slack, Skype, etc.</p>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/acalmar_contatos_atritados.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="titulo-features text-white ">ACALMA CONTATOS ATRITADOS</h5><br>
                        <p class="text-left text-lightcarmesin texto texto-18">Não importa o quão atritado esteja um consumidor, conversar com um assistente virtual trará um momento de calma e ajuda na reflexão do cliente sobre o problema.</p>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/24_horas_dia.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="titulo-features text-white ">24 HORAS POR DIA TODOS OS DIAS</h5><br>
                        <p class="text-left text-lightcarmesin texto texto-18">Chatbots estão a postos todos os dias para executar as tarefas para as quais foram pensados, sem precisar de supervisão humana na rotina diária de atendimento.</p>
                    </div>
                </div>
                <!--

                 -->

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/roi_arquitetura_escalavel.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="titulo-features text-uppercase text-white ">Alto ROI e arquitetura escalável</h5><br>
                        <p class=" text-left text-lightcarmesin texto texto-18">Chatbots podem ser do tipo "one time invest " e necessitariam apenas de supervisão interna. Isso reduziria o custo de propriedade para níveis muito confortáveis.</p>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/sem_complicacao_usuario.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="titulo-features text-uppercase text-white ">Sem complicação para o usuário</h5><br>
                        <p class="text-left text-lightcarmesin texto texto-18">A vida para o consumidor fica fácil sem necessidade de instalar um aplicativo, e mesmo que ele não tenha os mensageiros mais comuns, pode usar seu site.</p>
                    </div>
                </div>

                <div class="col-md-4 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/chatbots_ajudam_automacao.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="titulo-features text-uppercase text-white ">Chatbots ajudam na automatização</h5><br>
                        <p class="text-left text-lightcarmesin texto texto-18">Os chatbots podem automatizar tarefas são feitas com frequência em momentos determinados. Isso ajuda a reduzir os custos e também a eliminar erros humanos.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="oq" class="py-5 mb-2 bg-mediumBeige text-dark ">
        <div class="container text-center ">
            <div class="row ">
                <div class="container ">
                    <h3 class="font-weight-bold text-center titulo-section">O QUE FAZEMOS</h3><br>
                    <p class="texto texto-18 text-padrao ">De um chatbot baseado em regras e operado por uma equipe interna até um robô com AI e modelo NLP feito sob encomenda e operado por equipe dedicada interna/externa, a Botike procura, antes de qualquer coisa, definir qual o melhor modelo
                        de desenvolvimento para seu caso de uso.</p>
                </div>

                <div class="col-md-6 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/engenharia_de_sistemas.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="text-uppercase titulo-features text-cinza-escuro">Engenharia de sistemas</h5><br>
                        <p class="text-left text-black-50 texto texto-18 text-padrao">Utilizamos as melhores práticas para desenhar sistemas que se alinham perfeitamente às situações e orçamentos específicos de cada situação de negócios ou suporte.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/designconversacional.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="text-uppercase titulo-features text-cinza-escuro">Design conversacional</h5><br>
                        <p class="text-left text-black-50 texto texto-18 text-padrao">O diálogo é Experiência do Usuário (UX), então é vital para a máxima eficiência do robô. Sempre buscamos alinhar a “voz” e as funcionalidades do robô ao contexto de uso.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/modelos_de_entendimento.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="text-uppercase titulo-features text-cinza-escuro">modelos de entendimento</h5><br>
                        <p class="text-left text-black-50 texto texto-18 text-padrao">Se o seu chatbot precisa processar documentos (estruturados ou não) para manter-se sempre atualizado, desenvolvemos modelos NLU específicos para seu domínio.</p>
                    </div>
                </div>
                <div class="col-md-6 d-flex justify-content-center">
                    <div class="feats">
                        <br><img src="images/manutencao_deenvolvimento.png " width="150 " height="150 " alt=" " /><br><br>
                        <h5 class="text-uppercase titulo-features text-cinza-escuro">Manutenção e desenvolvimento</h5><br>
                        <p class="text-left text-black-50 texto texto-18 text-padrao">Encaramos chatbot como produtos digitais de longo prazo, então eles são pensados para evoluírem constantemente: oferecemos suporte permanente para sua evolução contínua.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

    <div id="como" class="py-5 mb-2 bg-lightBeige text-dark ">
        <div class="container text-center ">
            <div class="row ">
                <div class="container ">
                    <br>
                    <h3 class="font-weight-bold text-center titulo-section">COMO FAZEMOS</h3><br>
                    <p class="texto texto-18 text-cinza-claro">Desenvolvemos interfaces de textos e voz a partir de um pressuposto único: utilidade. E para alcançá-la, tiramos a tecnologia do centro da discussão e colocamos pessoas e negócios. Na Botike, fazer um robô de texto/voz significa mergulhar
                        nas necessidades das pessoas e identificar oportunidades de negócio.</p>
                    <br><br>
                </div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6 mb-5 d-sm-flex justify-content-center">
                            <div class="box-img-feat-como-fazemos mx-auto mx-sm-0">
                                <img src="images/marketing_ti.png" class="img-fluid mb-2" width="150" alt=" " />
                            </div>
                            <div class="box-descricao-como-fazemos text-left">
                                <h5 class="text-uppercase titulo-features text-cinza-escuro text-center text-sm-left">estratégia</h5>
                                <ul class="text-black-50">
                                    <li class="texto texto-18 text-cinza-claro">Identificação de Oportunidades</li>
                                    <li class="texto texto-18 text-cinza-claro">Pesquisas com Design Thinking</li>
                                    <li class="texto texto-18 text-cinza-claro">Definição de abordagens</li>
                                    <li class="texto texto-18 text-cinza-claro">Análise e prescrição de ações</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5 d-sm-flex justify-content-center">
                            <div class="box-img-feat-como-fazemos mx-auto mx-sm-0">
                                <img src="images/estrategia.png" class="img-fluid mb-2" width="150" alt=" " />
                            </div>
                            <div class="box-descricao-como-fazemos text-left">
                                <h5 class="text-uppercase titulo-features text-cinza-escuro text-center text-sm-left">marketing e ti</h5>
                                <ul class="text-black-50">
                                    <li class="texto texto-18 text-cinza-claro">UX/CX para inúmeros canais</li>
                                    <li class="texto texto-18 text-cinza-claro">Múltiplos canais, mesmo robô</li>
                                    <li class="texto texto-18 text-cinza-claro">(...)</li>
                                    <li class="texto texto-18 text-cinza-claro">Automatização de processos</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5 d-sm-flex justify-content-center">
                            <div class="box-img-feat-como-fazemos mx-auto mx-sm-0">
                                <img src="images/curadoria_monitoramento.png" class="img-fluid mb-2" width="150" alt=" " />
                            </div>
                            <div class="box-descricao-como-fazemos text-left">
                                <h5 class="text-uppercase titulo-features text-cinza-escuro text-center text-sm-left">Curadoria</h5>
                                <ul class="text-black-50">
                                    <li class="texto texto-18 text-cinza-claro">Monitoramento</li>
                                    <li class="texto texto-18 text-cinza-claro">Integrar diferentes deptos</li>
                                    <li class="texto texto-18 text-cinza-claro">Gestão do conhecimento interno</li>
                                    <li class="texto texto-18 text-cinza-claro">Suporte à processos/inovação</li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5 d-sm-flex justify-content-center">
                            <div class="box-img-feat-como-fazemos mx-auto mx-sm-0">
                                <img src="images/opensource.png" class="img-fluid" width="150 mb-2" alt=" " />
                            </div>
                            <div class="box-descricao-como-fazemos text-left">
                                <h5 class="text-uppercase titulo-features text-cinza-escuro text-center text-sm-left">OpenSource</h5>
                                <ul class="text-black-50">
                                    <li class="texto texto-18 text-cinza-claro">Integrações transparentes</li>
                                    <li class="texto texto-18 text-cinza-claro">Soluções livres de royalties</li>
                                    <li class="texto texto-18 text-cinza-claro">Cloud ou on premisses</li>
                                    <li class="texto texto-18 text-cinza-claro">Otimização de recursos</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-xl-2 col-md-2 col-sm-2"><img src="images/estrategia.png " width="150 " height="150 " alt=" " /><br></div>
                <div class="col-xl-4 col-md-4 col-sm-4 text-left ">
                    <h5 class="text-uppercase titulo-features text-cinza-escuro">estratégia</h5>
                    <ul class="text-black-50 ">
                        <li class="texto texto-18 text-cinza-claro">Identificação de Oportunidades</li>
                        <li class="texto texto-18 text-cinza-claro">Pesquisas com Design Thinking</li>
                        <li class="texto texto-18 text-cinza-claro">Definição de abordagens</li>
                        <li class="texto texto-18 text-cinza-claro">Análise e prescrição de ações</li>
                    </ul>
                    <br><br>
                </div>

                <div class="col-xl-2 col-md-2 col-sm-2"><img src="images/marketing_ti.png " width="150 " height="150 " alt=" " /><br></div>
                <div class="col-xl-4 col-md-4 col-sm-4 text-left ">
                    <h5 class="text-uppercase titulo-features text-cinza-escuro">marketing e ti</h5>
                    <ul class="text-black-50 ">
                        <li class="texto texto-18 text-cinza-claro">UX/CX para inúmeros canais</li>
                        <li class="texto texto-18 text-cinza-claro">Múltiplos canais, mesmo robô</li>
                        <li class="texto texto-18 text-cinza-claro">(...)</li>
                        <li class="texto texto-18 text-cinza-claro">Automatização de processos</li>
                    </ul>
                    <br><br>
                </div>

                <div class="col-xl-2 col-md-2 col-sm-2"><img src="images/curadoria_monitoramento.png " width="150 " height="150 " alt=" " /><br></div>
                <div class="col-xl-4 col-md-4 col-sm-4 text-left ">
                    <h5 class="text-uppercase titulo-features text-cinza-escuro">Curadoria</h5>
                    <ul class="text-black-50 ">
                        <li class="texto texto-18 text-cinza-claro">Monitoramento</li>
                        <li class="texto texto-18 text-cinza-claro">Integrar diferentes deptos</li>
                        <li class="texto texto-18 text-cinza-claro">Gestão do conhecimento interno</li>
                        <li class="texto texto-18 text-cinza-claro">Suporte à processos/inovação</li>
                    </ul>
                    <br><br>
                </div>

                <div class="col-xl-2 col-md-2 col-sm-2"><img src="images/opensource.png " width="150 " height="150 " alt=" " /><br></div>
                <div class="col-xl-4 col-md-4 col-sm-4 text-left ">
                    <h5 class="text-uppercase titulo-features text-cinza-escuro">OpenSource</h5>
                    <ul class="text-black-50 ">
                        <li class="texto texto-18 text-cinza-claro">Integrações transparentes</li>
                        <li class="texto texto-18 text-cinza-claro">Soluções livres de royalties</li>
                        <li class="texto texto-18 text-cinza-claro">Cloud ou on premisses</li>
                        <li class="texto texto-18 text-cinza-claro">Otimização de recursos</li>
                    </ul>
                    <br><br>
                </div> -->
            </div>
        </div>
    </div>


    <div id="blog" class="py-4 mb-2 bg-mediumBeige text-dark ">
        <div class="container">
            <div class="row justify-content-center">
                <div class="container ">
                    <h3 class="font-weight-bold text-center my-4">ARTIGOS &amp; OPINIÕES</h3><br>
                    <div class="row slider">
                        <div class="col-md-4 d-flex justify-content-center mb-4 mb-md-0">
                            <div class="artigo">
                                <img src="https://invencao.cc/_dev/botike/wp-content/uploads/2021/02/internet-3113279_1920-1024x683.jpg" class="img-fluid img-artigo" alt="">
                                <div class="">
                                    <h3 class="text-uppercase titulo-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                                    <p class="text-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sunt facere deleniti reiciendis at, ut sit maiores praesentium dolore eius.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center mb-4 mb-md-0">
                            <div class="artigo">
                                <img src="https://invencao.cc/_dev/botike/wp-content/uploads/2021/02/office-620822_1920-1024x680.jpg" class="img-fluid img-artigo" alt="">
                                <div class="">
                                    <h3 class="text-uppercase titulo-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                                    <p class="text-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sunt facere deleniti reiciendis at, ut sit maiores praesentium dolore eius.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="artigo">
                                <img src="https://invencao.cc/_dev/botike/wp-content/uploads/2021/02/programming-1873854_1920-1024x563.png" class="img-fluid img-artigo" alt="">
                                <div class="">
                                    <h3 class="text-uppercase titulo-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                                    <p class="text-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sunt facere deleniti reiciendis at, ut sit maiores praesentium dolore eius.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="artigo">
                                <img src="https://invencao.cc/_dev/botike/wp-content/uploads/2021/02/programming-1873854_1920-1024x563.png" class="img-fluid img-artigo" alt="">
                                <div class="">
                                    <h3 class="text-uppercase titulo-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                                    <p class="text-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sunt facere deleniti reiciendis at, ut sit maiores praesentium dolore eius.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-center">
                            <div class="artigo">
                                <img src="https://invencao.cc/_dev/botike/wp-content/uploads/2021/02/programming-1873854_1920-1024x563.png" class="img-fluid img-artigo" alt="">
                                <div class="">
                                    <h3 class="text-uppercase titulo-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing.</h3>
                                    <p class="text-artigo">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quia sunt facere deleniti reiciendis at, ut sit maiores praesentium dolore eius.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-12">
                            <a href="#" class="btn btn-block btn-vermais text-uppercase my-4">Ver mais <i class="fa fa-chevron-right"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="fale" class="py-3 bg-carmesin text-white text-center ">
        <div class="container ">
            <div id="footerMagenta" class="row justify-content-md-center ">

                <div class="col-xl-8 ">
                    <p>&nbsp;</p>
                    <h3 class="font-weight-bold text-center text-uppercase text-white titulo-section ">&nbsp;Fale conosco agora mesmo&nbsp;</h3>
                    <p>&nbsp;</p>
                </div>

                <div class="col-xl-8 ">
                    <!-- <img src="images/zildo_final.png " height="529 " width="560 "> -->
                    <img src="images/zildo_final.png" class="img-fluid" object-fit="contain ">
                    <br>
                </div>

                <div id="chatBubble" class="col-md-8 bg-lightBeige ">
                    <br>
                    <p class="text-lightcarmesin">
                        <%- include('../partials/converseholder') %>
                    </p>
                    <br>
                </div>
            </div>

            <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
            <script src="js/jquery-3.4.1.min.js "></script>

            <!-- Include all compiled plugins (below), or include individual files as needed -->
            <script src="js/popper.min.js "></script>
            <script src="js/bootstrap-4.4.1.js "></script>
            <script src="slick-1.8.1/slick/slick.min.js"></script>
            <script src="js/script.js "></script>
        </div>

</body>

</html>
